li,
a {
  list-style: none;
  text-decoration: none;
  color: black;
}
li .nav-link,
a .nav-link {
  color: black;
}
li .nav-link:hover,
a .nav-link:hover {
  font-size: large;
  font-style: bold;
}

.img_size_cards {
  max-height: 17em;
  -o-object-fit: cover;
     object-fit: cover;
}

.pagination_center {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2%;
}
